# SPDX-FileCopyrightText: 2021 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
#
# SPDX-License-Identifier: BSD-2-Clause

# Caching directories
/.local/
/.cache/
__pycache__/
.mypy_cache/

# IDE and development environment
/venv/
/.idea/
.tox
.project
.pydevproject

# Build enivornment
src/mewbot.egg-info
/build/
/dist/

# Secrets and local configuration
examples/TrivialDiscordBot/secrets.json

# Coverage artefacts
.coverage
/.coverage_html/
/.pytest_cache/
/junit.xml
