# SPDX-FileCopyrightText: 2021 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
#
# SPDX-License-Identifier: CC0-1.0

PyYAML~=6.0
py-cord~=1.7

aiohttp~=3.7.4  # Waiting for py-cord to upgrade
setuptools~=62.6

win10toast~=0.9; sys_platform == "win32"

feedparser~=6.0.8
